{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% for report in reports %}
            <div class="col-md-4">
                <div class="well">
                    <p> Įrangos pavadinimas: {{ report.problem.hardware_name }}</p>
                    <p> Ip adresas: {{ report.problem.ip }}</p>
                    <p> Problemos aprašymas:</p>
                    <p style="height: 75px;"> {{ report.problem.description }}</p>
                    <p> Gedimo priežastis: {{ report.cause }} </p>
                    <p> Sprendimo eiga: </p>
                    <p style="height:75px;"> {{ report.solution }} </p>
                    <p>Įrenginys neveikė {{ time_diff(report.problem.time_created, report.problem.time_fixed) }} </p>
                    <p> Iki pastebėjimo praėjo {{ time_diff(report.problem.time_created, report.problem.time_taken) }}</p>
                    <p> Iki sutaisymo praėjo {{ time_diff(report.problem.time_taken, report.problem.time_fixed) }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}